{%extends "blog/base.html"%}

{%load static%}

<!-- Doing the SEO block-->
{%block SEO%}
    <meta name="description" content="Prof. DC Sharma is a Kangra based linguistic and carrer expert">
{%endblock%}

{%block header%}
<div class="site-identifier">
  Prof DC Sharma's Blog
</div>
{%endblock%}

{%block content%}
<div style="display: grid; place-items: center;">
    <img src="{%static 'blog/images/dc-image.jpg'%}" style="width:45%; align-self: center; height: 70vh;;"  alt="prof dc sharma, life, career, counselling">
</div>

<div style="padding: 5px; font-size: 18px;">
    <div style="margin-bottom: 10px;">
        Kangra based popular and prominent psychologist, counsellor, social reformer and an eminent advisor on general life and career based issues. Being a rare researcher in Neuro-linguistics, and a man of unique talents, Prof. D. C. Sharma is a much sought after and esteemed person in Northern India.
    </div>

    <div style="margin-bottom: 10px;">
        Professor Sharma is an M. Sc. in Psychology, M. S. in counselling & psychotherapy, Fellow of the Association of Professional Psychologists, Chennai, Fellow of the Association of Counsellors & Psychotherapists, Mumbai, a certified competent published writer as declared by the Writer’s College, Manchester (England), has got an authoritative diploma in Mental Health services, an M.A. and M. Phil. in the subject of English, he has got even an LL. B. Degree to his credit.

    </div>


    <div style="margin-bottom: 10px;">
        He had taught thousands of students putting them on the royal road to success and eminence. Prof. Sharma is a prolific writer of rare repute. He has contributed about five thousand articles, research papers, and educative pieces on life and careers in the prestigious English dailies like The Tribune, The Indian Express, Hindustan Times, Pioneer, The Times of India, The Telegraph, and The Hindu, as also to the Punjabi Dailies like Jagbani, Daily Ajit, Punjabi Tribune, Punjabi Jagran, and Hindi dailies like Punjab Keari, Dainik Tribune, Ajit Samachar, Vir Partap etc. Popularly known as Professor D C Sharma he has been providing counselling to the poor and the needy free of charge even spending cash and kind from his own pocket. His prominent aim is to motivate, guide and uplift each and everyone whosoever comes to him.

    </div>

    <div style="margin-bottom: 10px;">
        After retiring as the Head of his prestigious department, as also as the senior most Professor and Vice Principal from the prestigious MCM DAV College Kangra (HP), Prof. DC Sharma joined the Divya Himachal Group at Kangra. He worked there as a constructive and productive senior founder features editor for the English weekly Himachal This Week being published from Dharamshala (HP). Meeting this distinguished educationist is certainly an elevating and motivating experience. To contact him email to: careerking93@gmail.com
    </div>

</div>
{%endblock%}