{%extends "blog/base.html"%}

{%load static%}

<!-- Doing the SEO block-->
{%block SEO%}
<meta name="description" content="Professor DC Sharma is a Kangra based Psychologist, linguistic and carrer expert. Professor DC Sharma is the author @profdcsharma.com">
{%endblock%}

{%block title%}
<title> About|Professor DC Sharma</title>
{%endblock%}

{%block header%}
<div class="site-identifier">
    About Prof. DC Sharma
</div>
{%endblock%}

{%block content%}
<div id="fake-background" style="width: 80vw; margin-left: 10vw;">
    <div style="display: grid; place-items: center;">
        <img src="{%static 'blog/images/dc-image.jpg'%}" style="object-fit: cover; height: 50vh;"
            alt="prof dc sharma, life, career, counselling, Careertips, Education, Lifestyle, Psychology, Language, Behavior">
    </div>
</div>


<div style="padding: 2vw; font-size: 18px; width: 70vw; margin-left: 15vw;" id="fake-background">
    <div style="margin-bottom: 10px;">
        <a href = "https://en.wikipedia.org/wiki/Kangra,_Himachal_Pradesh"> Kangra </a> based popular and prominent <a href ="https://en.wikipedia.org/wiki/Psychologist">psychologist</a>, counsellor, social reformer and an eminent advisor on general
        life and <a herf="https://en.wikipedia.org/wiki/Career">career </a> based issues. Being a rare researcher in Neuro-linguistics, and a man of unique talents, Prof.
        <a href ="profdcsharma.com">DC Sharma </a>is a much sought after and esteemed person in  <a href ="https://en.wikipedia.org/wiki/North_India">Northern India </a>
    </div>

    <div style="margin-bottom: 10px;">
        Professor Sharma is an M. Sc. in <a href ="https://en.wikipedia.org/wiki/Psychology">Psychology</a>, M. S. in counselling & <a href ="https://en.wikipedia.org/wiki/Psychotherapy">psychotherapy</a>, Fellow of the Association of
        <a href ="http://professionalpsychologists.org/">Professional Psychologists</a>, Chennai, Fellow of the Association of Counsellors & Psychotherapists, Mumbai, a
        certified competent published writer as declared by the Writer’s College, Manchester (England), has got an
        authoritative diploma in Mental Health services, an M.A. and M. Phil. in the subject of English, he has got even
        an LL. B. Degree to his credit.

    </div>


    <div style="margin-bottom: 10px;">
        He had taught thousands of students putting them on the royal road to success and eminence. Prof. Sharma is a
        prolific writer of rare repute. He has contributed about five thousand articles, research papers, and educative
        pieces on life and careers in the prestigious English dailies like The Tribune, The Indian Express, Hindustan
        Times, Pioneer, The Times of India, The Telegraph, and The Hindu, as also to the Punjabi Dailies like Jagbani,
        Daily Ajit, Punjabi Tribune, Punjabi Jagran, and Hindi dailies like Punjab Keari, Dainik Tribune, Ajit Samachar,
        Vir Partap etc. Popularly known as Professor D C Sharma he has been providing counselling to the poor and the
        needy free of charge even spending cash and kind from his own pocket. His prominent aim is to motivate, guide
        and uplift each and everyone whosoever comes to him.

    </div>

    <div style="margin-bottom: 10px;">
        After retiring as the Head of his prestigious department, as also as the senior most Professor and Vice
        Principal from the prestigious MCM DAV College Kangra (HP), Prof. DC Sharma joined the Divya Himachal Group at
        Kangra. He worked there as a constructive and productive senior founder features editor for the English weekly
        Himachal This Week being published from Dharamshala (HP). Meeting this distinguished educationist is certainly
        an elevating and motivating experience. To contact him email to: <a href ="mailto:careerking93@gmail.com">careerking93@gmail.com </a>
    </div>

</div>

<div id ="fake-background" style="font-size: large; width: 70vw; margin-left: 15vw; padding: 2vw;">
    <strong><span> Get in Touch </span> </strong>
    <div style="height: 2vh;"></div>
    <ul>
        <li> Send an email at<a href ="mailto:careerking93@gmail.com">careerking93@gmail.com </a></li>
        <li> Follow us on <a href="https://www.facebook.com/dc.sharma.39948/" id="facebook-base"><i
                    class="fa fa-facebook-official w3-hover-opacity"></i> Facebook</a>
            <a href="https://chat.whatsapp.com/FVWyasUIvSDIFwpIcrH3Fs" id="whatsapp-base"><i class="fa fa-whatsapp"
                    aria-hidden="true"></i> whatsapp</a> to get latest updates.
        </li>
        <li> <a href="{%url 'contact:news_letter'%}">Subscribe to our news-letter</a> to get latest updates
        </li>
    </ul>
</div>
{%endblock%}