{%extends "blog/base.html"%}

{%block SEO%}
<title> wednesday_weekly </title>
<meta name="description" content = "Join us for the latest articles that we publish every sunday">
{%endblock%}

{%block header%}
<div class="site-identifier">
  Career Tips
</div>
{%endblock%}

{%block content%}

<div class="post-container  w3-animate-zoom">
  {%for post in career_tips%}
    <div class="post-container-child w3-animate-zoom">
      <div id="post-title"> <a href="{%url 'blog:post_detail' post.slug %}"><h3><b>{{post.title}}</b></h3></a> </div>  
          <p style="text-align: left;">{{post.discreption}}</p>
          {%for tags in post.tags.all%}
            <a href="{%url 'blog:tagged' tags.slug %}"><span class = "tags">#{{tags}}</span> </a>
          {%endfor%}
          <br>
          <a href="{%url 'blog:post_detail' post.slug %}" class="read-more text-primary"> Read Complete Article </a>
    </div>
  {%endfor%}
  
</div>


<footer>
    <!-- The footer block which dosen't work -->
        {%if is_paginated %}
    
          {% if page_obj.has_previous %}
          <span style="font-size: 25px; padding: 10px;"> <a href="?page={{page_obj.previous_page_number}}"> &laquo; </a> </span>
          {% else %}
            <span style="font-size: 25px; padding: 10px;"> &laquo; </span>
          {% endif %}
    
          {%for i in paginator.page_range %}
            {%if page_obj.number == i%}
              <span style="font-size: 25px; padding: 10px;"> {{i}} </span>
            {% else %}
            <span style="font-size: 25px; padding: 10px;"> <a href ="?page={{i}}">{{i}}</a> </span>
            {% endif %}
          {%endfor%}
    
          {%if page_obj.has_next %}
            <span style="font-size: 25px; padding: 10px;"><a href="?page={{page_obj.next_page_number}}"> &raquo; </a> </span>
          {% else %}
            <span style="font-size: 25px; padding: 10px;"> &raquo; </span>
          {%endif%}
    
        {%endif%}
    </footer>
    
  
{%endblock%}