{%extends "blog/base.html"%}
{%load crispy_forms_tags %}
{%block header%}
<div class="site-identifier">
  Prof DC Sharma's Blog
</div>
{%endblock%}

{%block content%}

<!-- The Corona Help form -->
<div class="corona-parent">
  <div class="corona-sub-parent">

    <form method="POST">
    {%csrf_token%}

    <span id="span-parent"> Fill in the below form to raise a help ticket </span>
    {{form|crispy}}
    {{form.media}}
      <div id ="corona-submit-parent">
          <button type="submit" id="raise-request"> Raise request </button>
        
      </div>  
      
  </form>
  </div>

</div>

{%endblock%}