{%extends "blog/base.html" %}

{%load crispy_forms_tags %}

<!-- Doing the SEO block-->
{%block SEO%}
    <meta name="description" content="This is the page to add new posts only accesible to the admins of this website.">
{%endblock%}


{%block header%}
<div class="site-identifier">
  Prof DC Sharma's Blog
</div>
{%endblock%}



{%block content%}
    <form method="POST" style="margin-top: 30px;">
        {%csrf_token%}
        {{form.media}}
        <div class="new-post">
            {{form.as_p}}
        </div>
        <button type="submit"> Submit </button>
    </form>
{%endblock%}

