{%extends "blog/base.html"%}

{%load static%}

{%block SEO%}
<title> {{post.title}} </title>
<meta name="description" content="{{post.discreption}}">
<mata name="keywords" content="{{post.tags}}">
    <!-- Defining the view port -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {%endblock%}

    {%block content%}

    <style>
        button {
            background: none !important;
            border: none;
            padding: 0 !important;
            /*optional*/
            font-family: arial, sans-serif;
            /*input has OS specific font-family*/
            color: #069;
            text-decoration: underline;
            cursor: pointer;
        }
    </style>

    <div class="post-detail-title-parent" style="background-color: white;">

        <div class="post-detail-title"> {{post.title}}
        </div>

        <div style="margin-top: -2vh;">
            <span style="font-size: 13px; background-color: rgba(255, 255, 255, 0.808);" class="text-muted">Published by
                Professor D.C Sharma in

                {%for tags in post.tags.all%}
                <a href="{%url 'blog:tagged' tags.slug %}"><span class="tags" style="margin-left: 12px;">#{{tags}}
                    </span> </a>
                {%endfor%}
                on // {{post.published_date}}
            </span>

        </div>


    </div>

    <div class="post-detail-body">
        <div class="post-detail-content">
            {{post.body|safe}}
        </div>
        <br>
        <div id="post-deatil-social-media">

            <strong><span> Share </span> </strong>
            <button onclick=facebook_share() style="background-color: #3b5998"><i
                    class="fa fa-facebook-official w3-hover-opacity"></i> Facebook</button>
            <button onclick=whatsapp_share()><i class="fa fa-whatsapp" aria-hidden="true"></i> whatsapp</button>

        </div>
    </div>


    <div id="fake-background">
        <h2 class="related-posts-title"> Post's that you might like! </h2>

        {%for rel_post in post_related%}
        <div class="related-posts">
            <ul>
                <li><a href="{%url 'blog:post_detail' rel_post.slug%}">
                        <h4> {{rel_post.title}} </h4>
                    </a></li>
            </ul>
        </div>
        {%endfor%}

    </div>

    <div class="about-author">

        <h2 style="text-align: center; font-family: 'Times New Roman', Times, serif;"> About the Author </h2>

        <img src="{%static 'blog/images/dc-image.jpg' %}" id="topology-image">

        <div id="topology-about">
            <a href="{%url 'blog:about-us'%}">Professor D.C Sharma </a> is a career psychologist, linguist, counsellor,
            skill trainer, social reformer, life coach and a popular constructive<br> short story writer. He hold
            degrees for M. Sc. in (Psychology), M. S. in (counselling & psychotherapy),<br> Fellow of the Association of
            Professional Psychologists, Chennai. <br>
            <div style="height: 2vh;"></div>
            <strong><span> Get in Touch </span> </strong>
            <div style="height: 2vh;"></div>
            <ul>
                <li> Send an email at <a href="mailto:careerking93@gmail.com">careerking93@gmail.com </a></li>
                <li> Follow us on <a href="https://www.facebook.com/dc.sharma.39948/" id="facebook-base"><i
                            class="fa fa-facebook-official w3-hover-opacity"></i> Facebook</a>
                    <a href="https://chat.whatsapp.com/FVWyasUIvSDIFwpIcrH3Fs" id="whatsapp-base"><i
                            class="fa fa-whatsapp" aria-hidden="true"></i> whatsapp</a> to get latest updates.
                </li>
                <li> <a href="{%url 'contact:news_letter'%}">Subscribe to our news-letter</a> to get latest updates
                </li>
            </ul>
        </div>


    </div>
    {%endblock%}