{%extends "blog/base.html"%}

{%block SEO%}
<title> {{post.title}} </title>
<meta name="description" content="{{post.discreption}}">
<mata name="keywords" content="{{post.tags}}">
     <!-- Defining the view port -->
     <meta name="viewport" content="width=device-width, initial-scale=1">

{%endblock%}

{%block content%}

<div class="post-detail-title"> {{post.title}} </div>

<div class="social-media-parent">
    <div class="social-media-share-buttons">
        <div class="share-text"> Share On</div>
        <button type="button" onclick="facebook_share()" id="facebook"> Facebook </button>
        <button type="button" onclick="whatsapp_share()" id="whatsapp"> whatsapp </button>
    </div>
</div>

<div class="post-detail-body">
    <div class="post-detail-content">
        {{post.body|safe}}
    </div>

    <div id ="post-deatil-social-media">

        <strong><span style="padding: 10px;"> Follow us on </span> </strong>
        <a href="https://www.facebook.com/dc.sharma.39948/" id ="facebook-base"><i class="fa fa-facebook-official w3-hover-opacity"></i> Facebook</a>
                    <a href="https://chat.whatsapp.com/FVWyasUIvSDIFwpIcrH3Fs" id="whatsapp-base"><i class="fa fa-whatsapp" aria-hidden="true"></i> whatsapp</a>
    
    </div>
</div>



<h2 class="related-posts-title"> Posts that you might like! </h2>
{%for rel_post in post_related%}
<div class="related-posts w3-animate-zoom">
    <a href ="{%url 'blog:post_detail' rel_post.slug%}"><h4> {{rel_post.title}} </h4></a>
</div>

{%endfor%}
{%endblock%}