.related-posts-title
{
  display: grid;
  place-items: center;
  background-color: white;
  border-radius: 20px;
  margin-top: 20px;


}

 .related-posts
  {
    border-radius: 5px;
    background-color: white;
    height: 50px;
    width: auto;
    font-weight: 500;
    padding: 5px;
    color: black;
    margin-bottom: 5px;

  }

.tags
{
  border-radius: 5px;
  background-color: rgba(199, 227, 245, 0.212);
  height: auto;
  width: auto;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  align-items: left;
  font-size: 18px;
}

.post-detail-title
{
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  background-color: white;
  padding:10px;
  box-shadow: 5px 10px;
}

.post-detail-body
{
  font-size: 20px;
  color: #0e0a0adc;
  font-family: Opensans;
  background-color: white;
  margin-top: -18px;
}

.post-detail-content
{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.post-container
{
  display: flex;
  flex-wrap: wrap;
}

.post-container-child
{
  background-color: white;
  border-radius: 10px;
  min-height: 300px;
  max-height: 300px;
  flex: 1 0 350px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
@media only screen and (max-width:768px) {

  .site-identifier
  {
    visibility: visible;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width:1024px) 

{

  .site-identifier
  {
    visibility: hidden;
    font-size: 0px;
  }
}

#help-container-parent
{
  display: flex;
  flex-wrap: wrap;
}

#help-container-child
{
  background-color: white;
  border-radius: 10px;
  min-height: 200px;
  max-height: 200px;
  flex: 1 0 350px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.post-container-child
{
  padding: 10px;
  flex: 1 0 350px;
  margin-top: 5px;
}

.social-media-parent
{
  margin-bottom: 10px;
  padding: 10px;
  display: grid;
  place-items: center;
  background-color: white;
}


.share-text
{
  font-weight: 200;
  font-size: xx-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 15px;
}

.corona-parent
{
  display: grid;
  place-items: center;
  margin-top: 30px;
}

.corona-sub-parent
{
  background-color: white;
  border-radius: 10px;
}

#span
{
  font-size: xx-large;
  font-weight: 300;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#span-parent
{
  font-size: xx-large;
  font-weight: 300;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;

}

.corona-form-title
{
  margin-bottom: 10px;
}

.corona-form-discreption
{
  margin-left: 0px;
  margin-top: 10px;
}

#raise-request
{
  margin-top: 20px;
  border-radius: 10px;
}

#corona-submit-parent
{
  display: grid;
  place-items: center;

}

#raise-request
{
  background-color: yellowgreen;
  color: black;
}

#post-picture
{
  
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: bottom;
}

#post-title
{
  text-align: center;
  border-radius: 10px;
  color: black;
}


.read-more
{
  color: black;
  margin-top: 10px;
  display: grid;
  place-items: center;
  border-radius: 20px;
  background-color: rgba(0, 0, 255, 0.349);
  font-size: 18px;
  font-weight: 300;
  bottom: 0;
}

#facebook
{
  background-color: #4571caca;
}

#whatsapp
{
  background-color: #128c7ed7;
}

#help-container
{
  display: grid;
  place-items: center;
  background-color: white;
}
#help-description
{
  font-size: 20px;
}

#post-deatil-social-media
{
  margin-left: 10px;
  display: inline;
  place-items: center;
}