
  .related-posts-title
  {
    text-align: center;
    background-color: white;
    border-radius: 5px;

  }
  
  
  .related-posts
  {
    height: 50px;
    width: auto;
    font-weight: 500;
    background-color: white;
    padding: 5px;
    color: rgb(24, 23, 23);
    margin-bottom: 5px;

  }

.tags
{
  border-radius: 5px;
  background-color: rgb(199, 227, 245);
  height: auto;
  width: auto;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  align-items: left;
}

.post-detail-title
{
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  background-color: white;
  padding:10px;
  box-shadow: 5px 10px;
}

.post-detail-body
{
  font-size: 20px;
  color: #0e0a0adc;
  font-family: Opensans;
  background-color: white;
  margin-top: -18px;
}

.post-detail-content
{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.post-container
{
  display: flex;
  flex-wrap: wrap;
}

.post-container-child
{
  background-color: white;
  border-radius: 10px;
  min-height: 200px;
  max-height: 200px;
  flex: 1 0 350px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
@media only screen and (max-width:768px) {

  .site-identifier
  {
    visibility: visible;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width:1024px) 

{

  .site-identifier
  {
    visibility: hidden;
    font-size: 0px;
  }
}

.help-container
{
  height: auto;
  width: auto;
  background-color: white;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 25px;
}

.social-media-parent
{
  margin-bottom: 10px;
  padding: 10px;
  display: grid;
  place-items: center;
  background-color: white;
}


.share-text
{
  font-weight: 200;
  font-size: xx-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 15px;
}

#facebook
{
  background-color: #3B5998;
  color: white;
}

#whatsapp
{
  background-color: #25D366;
  color: white;
}

.corona-parent
{
  display: grid;
  place-items: center;
  margin-top: 30px;
}

.corona-sub-parent
{
  background-color: white;
  border-radius: 10px;
}

#span
{
  font-size: xx-large;
  font-weight: 300;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#span-parent
{
  font-size: xx-large;
  font-weight: 300;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;

}

.corona-form-title
{
  margin-bottom: 10px;
}

.corona-form-discreption
{
  margin-left: 0px;
  margin-top: 10px;
}

#raise-request
{
  margin-top: 20px;
  border-radius: 10px;
}

#corona-submit-parent
{
  display: grid;
  place-items: center;

}

#raise-request
{
  background-color: yellowgreen;
  color: black;
}