{%extends "blog/base.html"%}
{%load crispy_forms_tags %}

<!-- Doing the SEO block-->
{%block SEO%}
<meta name="description" content="Subscribe to our weekly newsletter">
<title>News-letter</title>
{%endblock%}

{%block header%}
<div class="site-identifier">
    News-letter
</div>
{%endblock%}

{%block content%}

<!-- The Corona Help form -->
<form method="POST">
    {%csrf_token%}
    <div style="display: grid; place-items: center;">
        <span
            style="text-align: center; font-size: 28px; font-family: 'Times New Roman', Times, serif; margin-bottom: 10px;">
            Please put in your email below </span>
    </div>
    <div class="form-display">
        {{form|crispy}}
        {{form.media}}
    </div>
    <div style="display: grid; place-items: center;">
        <button type="submit"> Submit </button>
    </div>
</form>

{%endblock%}